.THIS a:link { /*Display the content of <a> in same line and not in next line */
    display: inline;
    color: rgb(0, 112, 210);
}

.THIS .displayData { /*Display the content inside the card and not overflow outside the main div*/
    overflow: hidden;
    white-space: normal;
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
    word-break: break-word;
}

.THIS .uiOutputRichText { /*standard css class uiOutputRichText. To display in same line*/
    display: inline;
}