.THIS .objectDetailTitle {
    color: rgb(22, 50, 92);
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.25;
    display: inline;
}

.THIS .slds-card .slds-card-body {
    display: none;
}

.THIS .slds-card._open .slds-card-body {
    display: block;
}