.THIS .objectListTitle {
    color: rgb(22, 50, 92);
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.25;
}

.THIS .slds-card .slds-card-body {
    display: none;
}

.THIS .slds-card._open .slds-card-body {
    display: block;
}

.THIS .showMoreBtn {
    padding: .5rem 1.5rem;
    border-radius: 15rem;
    border: 1px solid rgb(216, 221, 230);
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin: 0.5rem 0 0 0;
}

.THIS .showMoreBtn:hover { 
    background-color: rgb(0, 95, 178);
    color: white;
}

.THIS .hide {
    display:none;
}